#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Game {
  text-align: left;
}

.Game button{
  margin-right: 0.5em;
  color:green;
  border-color: green;
}

.Game button:hover{
  background-color: green;
  color:white
}

button.green{
  background-color: green;
  color:white
}

button.red{
  background-color: red;
  color:white
}

p.green{
  background-color: green;
  color:black
}

p.red{
  background-color: red;
  color:black
}

p.yellow{
  background-color: yellow;
  color:black
}
